#copyright.docs-footer.container.grid-lg
  p
  p
    | Designed by 
    a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
    | . Licensed under the 
    a(href='https://github.com/picturepan2/spectre/blob/master/LICENSE' target='_blank') MIT License
    | .
